USE [master]
GO
/****** Object:  Database [abot_crawler]    Script Date: 11/13/2013 15:21:25 ******/
CREATE DATABASE [abot_crawler] ON  PRIMARY 
( NAME = N'abot_crawler', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.DHARANI\MSSQL\DATA\abot_crawler.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'abot_crawler_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.DHARANI\MSSQL\DATA\abot_crawler.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [abot_crawler].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [abot_crawler]
GO
/****** Object:  User [dbadmin]    Script Date: 11/13/2013 15:21:25 ******/
CREATE USER [dbadmin] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[tblCrawlerData]    Script Date: 11/13/2013 15:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCrawlerData](
	[PageName] [nvarchar](150) NULL,
	[Tag] [nvarchar](50) NULL,
	[ContentText] [nvarchar](200) NULL,
	[Priority] [int] NULL,
	[Language] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tblCrawlerData] ([PageName], [Tag], [ContentText], [Priority], [Language]) VALUES (N'http://www.novartis.com/', N'metadata_description', N'We want to discover, develop and successfully market innovative products to prevent and cure diseases, to ease suffering and to enhance the quality of life.', 1, N'english')
INSERT [dbo].[tblCrawlerData] ([PageName], [Tag], [ContentText], [Priority], [Language]) VALUES (N'http://www.novartis.com/', N'metadata_keyword', N'cardiology, diabetes, cancer, neurology, CNS, infectious diseases, oncology,  disease research, press release, financial news, pipeline, careers, investors', 1, N'english')
INSERT [dbo].[tblCrawlerData] ([PageName], [Tag], [ContentText], [Priority], [Language]) VALUES (N'http://www.novartis.com/', N'h1', N'MEDICINES', 2, N'english')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
